{% extends 'base.html.twig' %}

{% block title %}{{ product.name}} - Devstyle {% endblock %}

{% block content %}

<h1>nos produits</h1>
<div class="row product-container">
    <div class="col-md-5">
        <img src="/img/{{product.illustration}}" alt="{{ product.name}}" class="img-fluid" >
    </div>
    <div class="col-md-7 mt-auto">
        <div class="product-item text-center">
            <h3>{{ product.name }}</h3>
            <p class="product-subtitle">{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100 |number_format(2)) }} €</span>
            <hr>
            <p>{{ product.description }}</p>
            <a href="{{ path('add_to_cart', {'id': product.id })  }}" class="btn btn-primary">Ajouter au panier</a>
            
        </div>
    </div>
</div>
{% endblock %}
